/*.alert-info {
  display:none;
}*/
.sdlinkul {
  padding:0;
  margin:14px 34px 40px 34px;
}
.img-responsive {
  max-width: none;
}
body {
	font-size:16px;
}
.navbar-header {
  min-height:80px;
}
.tasks {
  margin: 50px auto;
  width: 240px;
  background: white;
  border: 1px solid #cdd3d7;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
 :before {
  box-sizing:initial;
}
.tasks-header {
  position: relative;
  line-height: 24px;
  padding: 7px 15px;
  color: #5d6b6c;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  background: #f0f1f2;
  border-bottom: 1px solid #d1d1d1;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, #f5f7fd, #e6eaec);
  background-image: -moz-linear-gradient(top, #f5f7fd, #e6eaec);
  background-image: -o-linear-gradient(top, #f5f7fd, #e6eaec);
  background-image: linear-gradient(to bottom, #f5f7fd, #e6eaec);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 1px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 1px rgba(0, 0, 0, 0.03);
}

.tasks-title {
  line-height: inherit;
  font-size: 14px;
  font-weight: bold;
  color: inherit;
}

.tasks-lists {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -11px;
  padding: 10px 4px;
  width: 19px;
  height: 3px;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}
.tasks-lists:before {
  content: '';
  display: block;
  height: 3px;
  background: #8c959d;
  border-radius: 1px;
  -webkit-box-shadow: 0 6px #8c959d, 0 -6px #8c959d;
  box-shadow: 0 6px #8c959d, 0 -6px #8c959d;
}

.tasks-list-item {
  display: block;
  line-height: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tasks-list-item + .tasks-list-item {
  border-top: 1px solid #f0f2f3;
}

.tasks-list-cb {
  display: none;
}

.tasks-list-mark {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;
  width: 20px;
  height: 20px;
  border: 2px solid #c4cbd2;
  border-radius: 12px;
}
.tasks-list-mark-cl-a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;
  width: 20px;
  height: 20px;
  /*border: 2px solid #39ca74;*/
  border: 2px solid #c4cbd2;
  border-radius: 12px;
}
.tasks-list-mark-cl-b {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;
  width: 20px;
  height: 20px;
  /*border: 2px solid #39ca74;*/
  border: 2px solid #c4cbd2;
  border-radius: 12px;
}
.tasks-list-mark:before {
  content: '';
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -6px;
  height: 4px;
  width: 8px;
  border: solid #39ca74;
  border-width: 0 0 4px 4px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.tasks-list-mark-a:before {
  content: '';
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -6px;
  height: 4px;
  width: 8px;
  border: solid #39ca74;
  border-width: 0 0 4px 4px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.tasks-list-mark-b:before {
  content: '';
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -6px;
  height: 4px;
  width: 8px;
  border: solid #39ca74;
  border-width: 0 0 4px 4px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.tasks-list-cb:checked ~ .tasks-list-mark {
  border-color: #39ca74;
}
.tasks-list-cb:checked ~ .tasks-list-mark:before {
  display: block;
}

.tasks-list-desc {
  font-weight: bold;
  /*color: #34bf6e;*/
  color:#8a9a9b;
}
.tasks-list-cb:checked ~ .tasks-list-desc {
  color: #34bf6e;
}

.form-actions {
	margin-bottom:10px;
}
/*input.form-control.ng-pristine.ng-valid {
  margin-left: 30px;
  width: 200px;
  margin-top: 15px;
}*/
.radio-list {
  padding-left: 30px;
}

.inputlabel {
	/*color:red;*/
}
.panel {
	border:none;
	background-color:inherit;
}
h5 {
	text-align:left;
	padding:0;
  margin:22px 0 16px;
	font-size:18px;
}
.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
}
.form-control {
	/*margin-top:10px;*/
}
.alert-info {
	/*margin-right:5px;
	margin-left:5px;*/
}
.alert-danger {
	/*margin-right:5px;
	margin-left:5px;*/
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  position: absolute;
  right: 10px;
}
.col-md-4 {
	position:inherit;
}
@media (min-width:767px){

#Image2,#Image3,#Image4,#Image5,#Image6,#Image7,#Image8, #dashboard {
		display:none;

}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #39ca74;
}
#navbar {
	margin-top:30px;
}
}

@media (min-width:767px) and (max-width:1250px) {
.navText {
	/*font-size:12px;*/
}
#navbar {
	margin-top:15px;
}
.nav.navbar-nav {
	width:70%;
}
/*#navMargin {
	margin-left:210px;
}*/


	}
@media (max-width:767px){

.navText {
		display:none;
    }
}



.container {
  padding-right:10px;
  padding-left:10px;
  width:inherit;
  margin-top:40px;
}
#homeLogo {
	max-width:500px;
	height:auto;
	width:80%;
}
.row {
	margin-right:0px;
}
.col-md-4, .col-md-12 {
	padding-right: 0px;
	padding-left:0px;
  position:inherit;
}
input[type=radio] {
  margin: 0px;
  margin-right:15px;
  /*margin-bottom:10px;*/
  line-height: normal;
}
.tasks-list-cb:checked ~ .tasks-list-mark {
  border-color: #39ca74;
}
a:link, a:visited, a:hover, a:active { color:#39ca74; }
a {
  color: #39ca74;
}
form#loginForm {
  margin-left: 15px;
  margin-right: 15px;
  margin-top:20px;
}
#registerForm {
  margin-top:20px;
}
.btn-primary[disabled] {
  background-color: #888888;
  border-color: #888888;
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #f4b234;
  border-color:#f4b234;
}
.btn:focus, .btn:hover, .btn:active {
  outline: none;
}
.home-btns {
  margin:30px 0;
}
.fatigue-header {
  background-color:#f4b234;
  padding: 10px 20px;
  border-radius:5px;
}
.reset-pw {
  margin:14px 0 0 0;
}
.reset-pw-form {
  margin:15px 0 24px 0;
}
.update-chrono {
  margin:24px 0 20px 0;
}
.chrono-label, .checklist-label {
  margin:0 0 20px 0;
  font-weight:normal;
  font-size:14px;
}
#appContainer > div > div.container.ng-scope > div > form > div > label > strong {
	font-size:16px;
}
ol.lower-alpha
{
	list-style-type: lower-alpha;
	padding-left:15px;
	}
@media (min-width:370px){

.no-wrap {
    white-space: nowrap;
}

}

.col-md-12 {
    padding-left: 0;
    padding-right: 0;
}
.form-control[disabled] {
  opacity: 0.5;
}
@media (max-width:370px){

.no-wrap {
    white-space: nowrap;
	padding-left:5px;
}

}
.header-image {
    width: 100%;
    margin-top: -65px;
    margin-bottom: -25px;
	max-width:600px;
}
@media (min-width:600px){
.header-image {
	display:none;
}
}
.container-fluid {
	padding-left:25px;
	padding-top:15px;
}
.todos-text{
	padding-left:30px;
	padding-bottom:5px;
}
.todos-action {
	padding-left:30px;
	padding-bottom:20px;
	color:#39ca74;
}
.todos-check {
	float:left;
}
#as-guest-disclaimer {
	font-size:14px;
	margin-top:5px;
}
/*---Trieu's new css '*/
.strike-though {
    text-decoration: line-through;
}

/* --- end of Trieu's new css '*/

@media (max-width:350px){
#appContainer > div > div > nav > div > a > img {
    margin-left: 20px;
    margin-top: 12px;

}
nav > div > a.navbar-brand > img{
    width: 130px;
    margin-top: -5px !important;
}
img#dashboard {
	max-width:55px;
}
.container-fluid {
	padding-top:5px;
}
.container {
	margin-top:25px;
}
.navbar-header {
    min-height: 70px;
}

}
@media (min-width:350px){
	.glyphicon {
    font-size:35px !important;
}
}
.navbar-brand {
	padding-left:10px;
}
#as-guest-disclaimer {
	font-style:italic;
	text-align:left;
}
.glyphicon {
    top: 10px;
}
.navbar-toggle {
	margin-right:0px;
}
img#dashboard {
    float: right;
    position: relative;
    margin-top: 18px;
}
#appContainer > div > div > nav > div > div.navbar-header > div > button {
	margin-top:1px;
}

rzslider .rz-pointer {
  background: #ffffff;
}
rzslider .rz-pointer:hover :after {
  background-color: #1F363D;
}

rzslider .rz-pointer.rz-active:after {
  background-color: #fff;
}

rzslider .rz-bar {
  background:#FFF;
}

.white-link-text {
  color: #FFF;
}
.zebrabg {
background: rgba(255,255,255,0.1);
padding-left: 0px;
font-size: 14px;
  }
  .zebrabgeven{
  padding-left:0px;
  font-size: 14px;
    }
.caffeineheaders {
  margin-top: 0px;
  font-size: 14px;
}
.mycharge-daybg {
  background: rgba(255,255,255,0.1);
  padding: 10px;
}
.mycharge-start-header {
  font-weight: bold;
  color: #FFF!important;
  padding-bottom: 5px;
}
.mycharge-panel-title > a {
    display: block;
    width: 100%;
    height: 20px;
    color: #f4b234;
}
.mycharge-panel-heading  {
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-color: #2E3E45!important;
}

.caffeine_div {
  margin-top: 20px!important;
  background-color: #304148!important;
}
.caffeine_form {
  background-color: #304148!important;
}
.caffeine-list {
  list-style: none;
padding-left: 0px;
font-size: 10px;
padding: 5px;
}
.slower-text {
  float: left;
}
.faster-text {
  text-align: right;
}
 div.col-xs-9.zebrabgeven > div.col-xs-8, div.col-xs-9.zebrabg > div.col-xs-8 {
  padding-left:5px;
  padding-right:0px;
}
div > div.col-xs-9.zebrabg {
  padding-left: 0px;
  padding-right: 0px;
}
div > div.col-xs-4 {
  padding-right: 0px;
}
.no-pad {
  padding:0px!important;
}

/*Trieu's additional code*/
.sleep_error {
    background-color: red;
}

/*option:disabled, select[disabled] > option {
  text-decoration: line-through!important;
  color: #00b3ee!important;
}*/
.mycharge_error{
  color: #FF6D22!important;
  background-color: #5c9ccc;
}

.mycharge_none{
  /*background-color: blue;*/
}

rzslider .rz-ticks .tick {
  width: 1px;
  height: 4px;
  text-align: center;
  cursor: pointer;
  background: #d8e0f3;
}

.modal-content {
  color: #aaa;
}

.modal-content {
  background-color: #15262f;
}

.mycharge-sleep-div {
  border-bottom: solid 1px #ffffff;
  padding-bottom: 5px;
}

.mycharge-sleep-text, .mycharge-caffeine-text {
  font-size:0.8em;
  clear: both;
}

.mycharge-remove {
  clear: both;
}

.caffeine-background {
  background-color: rgba(105, 175, 204, 0.14);
  min-height: 40px;
  padding: 5px;
}
.sleep-background {
  background-color: rgba(84, 84, 84, 0.4);
  min-height: 40px;
  padding: 5px;
}
.sleep-btns{
  background-color: rgba(49, 48, 48, 0.18);
  padding: 2px 0 2px 0;
  height: 39px;
}

.mycharge-message{
  background-color: pink;
  line-height: 1.5;
  padding: 2px;
  font-size: 0.8em;
  float: right;
}
