<div ng-include="'views/navbar.html'"></div>
<div class="container">
  <h4 class="row text-center fatigue-header">Am I Sleepy?</h4>
  <p>The vast majority of us need 7-8 hours of sleep each 24-hour period to maintain optimal performance and alertness. A small percentage of us can maintain optimal performance and alertness on less than 7-8 hours, and some of us require more than 7-8 hours. Are you obtaining the amount of sleep that is optimal for you?</p>
<h4 class="row text-center fatigue-header"><a href="#ess" style="color:#FFF;">Complete the Epworth Sleepiness Scale (ESS) to find out</a></h4>

</div>
