<div ng-include="'views/navbar.html'"></div>
<div class="container">
  <h4 class="row text-center fatigue-header">Obstructive Sleep Apnea (OSA)</h4>
  <h5>What is OSA?</h5>
  <p>Obstructive Sleep Apnea, or OSA, is a sleep disorder that results in your breathing being repeatedly interrupted during sleep.  Pauses in breathing, referred to as "apneas" can last at least 10 seconds but may frequently last longer.  OSA occurs when muscles relax in the back of the throat during sleep, and as a result the airway becomes obstructed.  A person with OSA experiencing an apnea will eventually come up out of sleep just enough to regain muscle control, gasp and take a series of breaths before falling back into sleep.  Once asleep, their throat will relax and they will experience another apnea, come back up out of sleep to gasp for air, and the process repeats itself throughout the night.  Each arousal, or short awakening out of sleep, reduces sleep quality and quantity.  Hundreds of arousals can occur throughout the night.  Interestingly, people with OSA have no recollection of the awakenings.</p>  
  <div class="panel panel-default">
    <h5>Symptoms of OSA:</h5>
    <p>People with OSA may experience one or more of the following symptoms:</p>
    <ul class="list-group">
      <li class="list-group-item">- Snoring during sleep</li>
      <li class="list-group-item">- Gasping for air during sleep</li>
      <li class="list-group-item">- Excessive daytime sleepiness</li> 
      <li class="list-group-item">- Headaches</li>
      <li class="list-group-item">- Low energy levels</li>
      <li class="list-group-item">- Weight gain</li>
    </ul>   
  </div>
  <h5>Consequences to Health, Wellbeing and Safety</h5>
  <p>The immediate consequence of OSA is a sleep debt from reduce quality and/or quantity of sleep.  A sleep debt causes fatigue, which has been shown to reduce alertness and cognitive performance.  Long term health consequences of OSA are related to oxygen deprivation during the night, and also a long-term accumulated sleep debt.  OSA is a serious condition that can lead to high blood pressure, mood and memory problems, higher risk of stroke and heart disease.</p>
  <p>The effect of OSA on daytime activity can manifest in many different ways.  You may experience very low energy levels or have difficulty staying alert, especially at times when demands for your mental attention wane.  This can become a safety issue when driving, or when duty requirements focus on monitoring rather than active participation in activities.</p>
  <h5>Diagnosis and Treatment Options</h5>
  <p>The first step to determining if you may suffer from OSA is to conduct an initial screening.  Tools to self-screen area available at the website for the <a href="http://www.sleepapnea.org/treat/test-yourself.html">American Sleep Apnea Association.</a></p>
  <p>If you screen positive for OSA, you should discuss your screening results with your primary care physician or a sleep specialist in order to formally diagnose OSA and develop a treatment regimen that is right for you.  The primary methods for evaluating you for OSA will a thorough review of your current medical history and an overnight sleep study.  Sleep studies may be conducted during a visit to a sleep lab, or at home using specialized equipment.  During the study records of your activity during sleep will be monitored and tracked.  Items evaluated will include EEG measurement of brain waves, blood oxygen levels, respiration, and eye and chin movement.  None of the monitoring is painful and no needles are involved.  AA specialist will review the results of your study and determine if you have OSA.</p>
  <p>Treatment options include continuous positive airway pressure, or CPAP, which provides a gentle amount of air pressure through a mask worn during sleep.  This pressure keeps the airway open and eliminates apneas.  Other treatments may include the use of a dental device worn during the night to move the lower jaw slightly forward and this opening the airway.</p>
  <h5>Seeking Treatment and Additional Information</h5>
  <p>If you think you may be suffering from OSA and it is affecting your ability to have energy and be alert during your daytime activities, contact your primary care physician and explain your situation.  Be prepared to share thoughts about your sleep patterns, how you feel during the day, and any current medical or other issues you may be experiencing with your doctor.  If you have completed any self-screening be prepared to share those results as well. </p>
  <p>For more detailed additional information on OSA, refer to the following web resources:</p>
  <ul class="sdlinkul">
    <li><a href="http://www.sleepapnea.org/treat/test-yourself.html">American Sleep Apnea Association - Test Yourself</a></li>
    <li><a href="http://sleepfoundation.org/sleep-disorders-problems/sleep-apnea">National Sleep Foundation - Information on Obstructive Sleep Apnea</a></li>
    <li><a href="http://healthysleep.med.harvard.edu/healthy/getting/treatment/an-overview-of-sleep-disorders">Harvard Sleep Education Program - An Overview of Sleep Disorders</a></li>
  </ul> 
  <a href="#sleepdisorder">Back to Sleep Disorders</a>
</div>