<div ng-include="'views/navbar.html'"></div>
<div class="container">
  <h4 class="row text-center fatigue-header">Snoring and Breathing Problems During Sleep</h4>
  <p>Snoring noises are caused by partial blockages to airflow in your throat or nose. Snoring sometimes bothers those around you more than it bothers YOU. After all, you are asleep and aren't aware of the snoring. So why be concerned?</p>
  <p>First, snoring can disrupt sleep - and reduce the overall amount of sleep you obtain. You build up a sleep debt that impairs alertness, cognitive performance, mood, and other functions.</p>
  <p>Second, snoring can be a symptom of a sleep disorder called obstructive sleep apnea or OSA. OSA also disrupts sleep, causes a sleep debt, and leads to impaired waking function.</p>
  <p>Sleep specialists sometimes use a tool called the STOP-BANG, as a first- screen for OSA. STOP-BANG is short for the 8 assessment factors comprising the tool: Snoring, Tired during the day, Observed gasping or stopping breathing during sleep by others, high blood Pressure, Body mass index (BMI) above a certain value, Age = older than 50, large Neck size, and male Gender - however, women (especially post-menopausal) also can snore and have OSA. You can review the STOP-BANG <a href="http://www.stopbang.ca/osa/screening.php">here</a>.</p>
  <p>Taking the <a href="#ess">EPWORTH SLEEPINESS SCALE</a> can help you determine whether your snoring or other breathing issues pose a problem. Even if you score "normal" on the ESS, if you feel you have a problem, click the link below:</p>
  <a href="#professionalhelp">When to seek professional help</a><br><br>
  <a href="#sleepdisorder"> Back to "Sleep Problems"</a>
</div>
