<div ng-include="'views/navbar.html'"></div>
<div class="container"  style="overflow: auto;" ng-controller="ChartController">
    <h4 class="row text-center header-bg">What's My Charge?</h4>
    <ul class="custom-bullet glass-bg">
      <li>Click a point on the line to see your current reaction time.</li>
      <li>Caffeine events are marked in red.</li>
      <li>Scroll left and right.</li>
    </ul>
    <div class="form-group">Start date:
        <input type="text" class="form-control" uib-datepicker-popup="dd MMMM yyyy" ng-model="startDate" is-open="startOpen" close-text="Close" >
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="toggle($event, 'startOpen')">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
        </span>
        <div class='btn btn-primary'>Apply</div>
    </div>
    <div style="overflow:auto;">
        <alertness-Chart title="What's My Charge" data="chartData"></alertness-Chart>
    </div>

    <h4 class="row text-center fatigue-header">
        <a href="#mychargecalendar" style="color:#FFF;">Change Sleep Schedule
            <br>
            or
            <br>
            Add Caffeine Event</a>
    </h4>
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1" spinner-on="showSpinner"></span>
</div>
