<div ng-include="'views/navbar.html'"></div>
<div class="container">
  <h4 class="row text-center header-bg">What's My Charge Introduction</h4>
  <p style="margin-top:24px;"><strong>What's My Charge</strong> allows you to see how your sleep amounts and caffeine use affect a prediction of your reaction time. <strong>What's My Charge</strong> is pre-loaded with a reaction time prediction across 7 days, based on 8 hours of sleep (23:00 to 07:00) each night. 7-9 hours per night is the medically recommended sleep amount to maintain performance.</p>
  <p>You can edit the pre-loaded sleep schedule to match when you plan to sleep (for example, based on an upcoming work schedule). <strong>What's My Charge</strong> will then display your predicted reaction time. At points where your predicted reaction time slows below the green zone, you can add a caffeine event (for example, drinking a 12-oz cola) to see how much reaction time improvement you could expect from consuming that amount of caffeine.</p>
  <p>Planning your sleep and caffeine consumption using <strong>What's My Charge</strong> predictions will help you stay fully charged and on top of your game.</p>
  <p><strong>What's My Charge</strong> predicts an average person - your actual reaction times might be faster or slower than those predictions.</p>

<h4 class="row text-center"><a href="#chart" class="fatigue-header" style="color:#FFF;">Click here to start using What's My Charge<span class="glyphicon glyphicon-chevron-right"></span></a></h4>

</div>
