<div ng-include="'views/navbar.html'"></div>
<div class="container"  style="overflow: auto;" ng-controller="ChartController">
    <h4>Beatiful title here</h4>
    <div style="width: 2000px;">
        <alertness-Chart title="What's My Charge" data="chartData"></alertness-Chart>
    </div>

    <h4 class="row text-center fatigue-header">
        <a href="#mycharge" style="color:#FFF;">Change Sleep Schedule
            <br>
            or
            <br>
            Add Caffeine Event</a>
    </h4>
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1" spinner-on="showSpinner"></span>
</div>
