<div ng-include="'views/navbar.html'"></div>
<div class="container">
    <h4 class="row text-center fatigue-header">Healthy Sleep Planning</h4>
     <!-- <img class="header-image"  style="margin-top:-30px;" src="images/checklist@2x.png" alt="Sleep Debt"> -->
    <p style="margin:19px 0;">We all need to take proactive steps to ensure that we get the proper amount of high quality sleep we need to rejuvenate our bodies and our minds.  Review the "Healthy Sleep Checklist" and check how you are doing in each area.  You may find some areas where you can make an improvement. If so, then check the box to take steps to improve in that area.  A text box will appear where you can make notes on specific steps you plan to take to get more healthy sleep. In this way you can create a individualized "Healthy Sleep Action Plan."</p>

    <div class="panel panel-default">
        <h4 class="row text-center fatigue-header">Healthy Sleep Checklist</h4>
        <div ng-hide="emptyChecklist"><a href="#todos">Tap here to see your current action plan.</a></div>
        <form class="form-horizontal" name="checklistForm" role="form" ng-submit="setChecklist()">
            <h5>Your Bedroom</h5>
            <div class="form-group">
              <label class="checklist-label" for="plan_sleeptime"><strong>1. I plan for - and protect - my sleep time.</strong><br><br> Especially if you have to sleep during the day, tell your family exactly when you will be sleeping and ensure that they understand that you are not to be disturbed during your sleep time.</label>
              <div class="radio-list" ng-repeat="sel in checklistOpts">
                    <label class="tasks-list-item"><input type="radio" class="tasks-list-mark-cl-{{sel.value == 0 ? 'a' : 'b'}}"  name="plan_sleeptime" ng-model="$parent.plan_sleeptime" value="{{sel.value}}" ng-checked="(plan_sleeptime != null && plan_sleeptime == sel.value)" required><span class="tasks-list-desc">{{sel.text}}</span><br />
                </label></div>
                <textarea placeholder="How can I improve?" class="form-control" rows="3"  name="plan_sleeptime_text" ng-model="plan_sleeptime_text" ng-show="plan_sleeptime == 1">{{plan_sleeptime_text}}</textarea>
            </div>

            <div class="form-group">
              <label class="checklist-label" for="room_temperature"><strong>2. I keep my room temperature comfortable for my sleep.</strong><br><br> Keep your bedroom at a temperature that doesn't cause you to awaken because you get too hot or too cold. If you can't adjust your room temperature, use blankets to stay warmer or a fan to stay cooler.</label>
              <div class="radio-list" ng-repeat="sel in checklistOpts">
                   <label class="tasks-list-item"><input type="radio" class="tasks-list-mark-cl-{{sel.value == 0 ? 'a' : 'b'}}"  name="room_temperature" ng-model="$parent.room_temperature" value="{{sel.value}}" ng-checked="(room_temperature != null && room_temperature == sel.value)" required> <span class="tasks-list-desc">{{sel.text}}</span> <br />
               </label> </div>
                <textarea placeholder="How can I improve?" class="form-control" rows="3"  name="room_temperature_text" ng-model="room_temperature_text" ng-show="room_temperature == 1">{{room_temperature_text}}</textarea>
            </div>

            <div class="form-group">
              <label class="checklist-label" for="bedroom_darkness"><strong>3. I keep my room dark when I am trying to sleep.</strong><br><br> Keep your bedroom dark - if possible, install light-blocking curtains (dark plastic taped over windows also works) or wear a sleep mask (available in most drug stores).</label>
              <div class="radio-list" ng-repeat="sel in checklistOpts">
                    <label class="tasks-list-item"><input type="radio" class="tasks-list-mark-cl-{{sel.value == 0 ? 'a' : 'b'}}"  name="bedroom_darkness" ng-model="$parent.bedroom_darkness" value="{{sel.value}}" ng-checked="(bedroom_darkness != null && bedroom_darkness == sel.value)" required> <span class="tasks-list-desc">{{sel.text}}</span> <br />
                </label></div>
                <textarea placeholder="How can I improve?" class="form-control" rows="3"  name="bedroom_darkness_text" ng-model="bedroom_darkness_text" ng-show="bedroom_darkness == 1">{{bedroom_darkness_text}}</textarea>
            </div>

            <div class="form-group">
              <label class="checklist-label" for="room_quiet"><strong>4. I keep my room quiet when I am trying to sleep.</strong><br><br> Turn off phone ringers and do not leave on music; use foam ear plugs or a sound machine that produces constant white noise (sounds like static) to mask environmental sounds. A room fan also works to mask environmental sounds.</label>
              <div class="radio-list" ng-repeat="sel in checklistOpts">
                    <label class="tasks-list-item"><input type="radio" class="tasks-list-mark-cl-{{sel.value == 0 ? 'a' : 'b'}}"  name="room_quiet" ng-model="$parent.room_quiet" value="{{sel.value}}" ng-checked="(room_quiet != null && room_quiet == sel.value)" required> <span class="tasks-list-desc">{{sel.text}}</span> <br />
               </label> </div>
                <textarea placeholder="How can I improve?" class="form-control" rows="3"  name="room_quiet_text" ng-model="room_quiet_text" ng-show="room_quiet == 1">{{room_quiet_text}}</textarea>
            </div>
            <div class="form-group">
              <label class="checklist-label" for="bedroom_only"><strong>5. I use my bedroom only for sleep and intimacy.</strong><br><br> Remove TVs &amp; laptops, don't eat/drink in bed, don't let pets sleep on your bed. Put arguments and issues aside for later.</label>
              <div class="radio-list" ng-repeat="sel in checklistOpts">
                    <label class="tasks-list-item"><input type="radio" class="tasks-list-mark-cl-{{sel.value == 0 ? 'a' : 'b'}}"  name="bedroom_only" ng-model="$parent.bedroom_only" value="{{sel.value}}" ng-checked="(bedroom_only != null && bedroom_only == sel.value)" required> <span class="tasks-list-desc">{{sel.text}}</span> <br />
                </label></div>
                <textarea placeholder="How can I improve?" class="form-control" rows="3"  name="bedroom_only_text" ng-model="bedroom_only_text" ng-show="bedroom_only == 1">{{bedroom_only_text}}</textarea>
            </div>
            <div class="form-group">
                <label class="checklist-label" for="regulate_waketimes"><strong>6. I wake up at the same time every day.</strong><br><br> On days when you are not working night shifts, wake up at the same time every day - including your RDOs. </label>
                <div class="radio-list" ng-repeat="sel in checklistOpts">
                    <label class="tasks-list-item"><input type="radio" class="tasks-list-mark-cl-{{sel.value == 0 ? 'a' : 'b'}}"  name="regulate_waketimes" ng-model="$parent.regulate_waketimes" value="{{sel.value}}" ng-checked="(regulate_waketimes != null && regulate_waketimes == sel.value)" required> <span class="tasks-list-desc">{{sel.text}}</span> <br />
               </label> </div>
                <textarea placeholder="How can I improve?" class="form-control" rows="3"  name="regulate_waketimes_text" ng-model="regulate_waketimes_text" ng-show="regulate_waketimes == 1">{{regulate_waketimes_text}}</textarea>

            </div>
            <div class="form-group">
                <label class="checklist-label" for="stop_caffeine"><strong>7. I stop using anything with caffeine at least 6 hours before bedtime.</strong><br><br> Allow MORE than 6 hours if you are especially sensitive to caffeine or you use a lot of caffeine (for example, more than about 2 cups of coffee a day).</label>
                <div class="radio-list" ng-repeat="sel in checklistOpts">
                   <label class="tasks-list-item"><input type="radio" class="tasks-list-mark-cl-{{sel.value == 0 ? 'a' : 'b'}}"  name="stop_caffeine" ng-model="$parent.stop_caffeine" value="{{sel.value}}" ng-checked="(stop_caffeine != null && stop_caffeine == sel.value)" required> <span class="tasks-list-desc">{{sel.text}}</span> <br />
               </label> </div>
                <textarea placeholder="How can I improve?" class="form-control" rows="3"  name="stop_caffeine_text" ng-model="stop_caffeine_text" ng-show="stop_caffeine == 1">{{stop_caffeine_text}}</textarea>
            </div>
            <div class="form-group">
                <label class="checklist-label" for="exercise_routine"><strong>8.I finish my exercise routine at least 3 hours before bedtime.</strong><br><br> 3 hours is a general rule of thumb to allow sufficient cool-down and wind-down time. Finish exercising more than 3 hours if you are having trouble falling asleep after exercising.</label>
                <div class="radio-list" ng-repeat="sel in checklistOpts">
                    <label class="tasks-list-item"><input type="radio" class="tasks-list-mark-cl-{{sel.value == 0 ? 'a' : 'b'}}"  name="exercise_routine" ng-model="$parent.exercise_routine" value="{{sel.value}}" ng-checked="(exercise_routine != null && exercise_routine == sel.value)" required> <span class="tasks-list-desc">{{sel.text}}</span> <br />
               </label> </div>
                <textarea placeholder="How can I improve?" class="form-control" rows="3"  name="exercise_routine_text" ng-model="exercise_routine_text" ng-show="exercise_routine == 1">{{exercise_routine_text}}</textarea>
            </div>
            <div class="form-group">
                <label class="checklist-label" for="no_alcohol"><strong>9. I do not use alcohol to help me fall asleep.</strong><br><br> Alcohol makes you feel sleepy, but it actually disrupts your sleep.</label>
                <div class="radio-list" ng-repeat="sel in checklistOpts">
                   <label class="tasks-list-item"><input type="radio" class="tasks-list-mark-cl-{{sel.value == 0 ? 'a' : 'b'}}"  name="no_alcohol" ng-model="$parent.no_alcohol" value="{{sel.value}}" ng-checked="(no_alcohol != null && no_alcohol == sel.value)" required> <span class="tasks-list-desc">{{sel.text}}</span> <br />
                </label></div>
                <textarea placeholder="How can I improve?" class="form-control" rows="3"  name="no_alcohol_text" ng-model="no_alcohol_text" ng-show="no_alcohol == 1">{{no_alcohol_text}}</textarea>
            </div>
            <div class="form-group">
                <label class="checklist-label" for="get_out_bed"><strong>10. I get out of bed if I cannot fall asleep or stay asleep.</strong><br><br> This healthy sleep habit prevents you from developing an association between the bedroom and being awake.<br><br> Here is now to implement this healthy sleep habit:<br><br>
<ol class="lower-alpha">
<li>If you cannot fall asleep within 20 minutes, get out of bed and go to another room.</li>
<li>Do something relaxing (or boring) until you feel sleepy enough to fall back asleep. Using electronics is NOT recommended. Reading something boring is a better alternative.</li>
<li>Once you feel sleepy, return to your bed.</li>
<li>If you don't fall asleep within 20 minutes, repeat these steps.</li>
</ol>
<p>Repeat the above steps as needed throughout your sleep period. Implementing these steps might make you sleepy the next day. THAT IS EXPECTED -- and the increased sleepiness will help you sleep the following night. If implementing these steps does make you sleepy, during the following day only enough to ensure safety (e.g., for driving).</p>
</label>
                <div class="radio-list" ng-repeat="sel in checklistOpts">
                    <label class="tasks-list-item"><input type="radio" class="tasks-list-mark-cl-{{sel.value == 0 ? 'a' : 'b'}}"  name="get_out_bed" ng-model="$parent.get_out_bed" value="{{sel.value}}" ng-checked="(get_out_bed != null && get_out_bed == sel.value)" required> <span class="tasks-list-desc">{{sel.text}}</span> <br />
               </label> </div>
                <textarea placeholder="How can I improve?" class="form-control" rows="3"  name="get_out_bed_text" ng-model="get_out_bed_text" ng-show="get_out_bed == 1">{{get_out_bed_text}}</textarea>
            </div>
            <div class="form-actions">
                <div ng-show="error" class="alert alert-danger">{{error}}</div>
                <!-- <div ng-show="message" class="alert alert-info">{{message}}</div> -->
                <button type="submit" class="btn btn-primary btn-lg btn-block form-control" style="margin-top:25px; padding-bottom:35px;" ng-show="!$root.asGuest">Save Action Plan</button>
                <button type="submit" class="btn btn-primary btn-lg btn-block form-control"  style="padding-bottom:35px;" ng-show="$root.asGuest">Save Action Plan</button>

            </div>
        </form>
    </div>
 </div>
