<div ng-include="'views/navbar.html'"></div>
<div class="container">
    <h4 class="row text-center header-bg">2-Item Circadian Energy Scale (CIRENS)</h4>
    <div class="row">
        <form name="form2" ng-submit="setChrono()" role="form">
            <div id="chronotypeDiv">
                <div class="form-group">
                  <div class="mid-wrapper">
                    <li class="glass-bg-q"><span class="q-color">1.</span> In general, how is your energy level in the
                        <strong>morning?</strong></li>
                    </label>
                    <div class="radio-list  btn-primary" ng-repeat="sel in chronoMorning">
                        <label class="tasks-list-item"><input type="radio" name="optionsMorning" ng-model="$parent.chronoMorningSel" value="{{sel.value}}" ng-checked="sel.isChecked" class="tasks-list-mark">
                            <div><span class="tasks-list-desc">
                                {{sel.text}}
                            </span></div>
                        </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="mid-wrapper">
                      <li class="glass-bg-q"><span class="q-color">2.</span> In general, how is your energy level in the
                        <strong>evening?</strong>
                    </li>
                    <div class="radio-list  btn-primary" ng-repeat="sel2 in chronoEvening">
                        <label class="tasks-list-item"><input type="radio" name="optionsEvening" ng-model="$parent.chronoEveningSel" value="{{sel2.value}}" ng-checked="sel2.isChecked" class="tasks-list-mark">
                            <div><span class="tasks-list-desc">
                                {{sel2.text}}
                            </span></div>
                        </label>
                    </div>
                  </div>
                </div>
                <div class="form-actions">
                    <div class="alert alert-info" ng-show="chronoMessage != ''">{{chronoMessage}}</div>
                    <div ng-show="chronoError" class="alert alert-danger">{{chronoError}}</div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-bottom:20px;">Click here to see score<span class="glyphicon glyphicon-floppy-save"></span></button>

                    <!-- <div id="as-guest-disclaimer" ng-show="$root.asGuest">* Guest Profiles are temporarily saved in your browser's cookies and are not permanent.</div> -->
                </div>
            </div>
        </form>
    </div>
</div>