<a href="#home"><img src="images/FC_FullyCharged_Logo.png" style="margin-top:-17px;" class="img-responsive center-block" id="homeLogo" alt="Responsive image"></a>
<div>
    <div class="row row-centered home-btns">
        <div class="col-sm-3 col-centered" style="padding-bottom:7px;" ng-if="!$root.asGuest">
            <a href="#profile"><img src="images/FC_Icon_UserProfile.png" class="img-responsive" alt="User Profile"/></a>
            <span class="icon-font">User
                <br>Profile</span>
        </div>
        <div class="col-sm-3 col-centered" style="padding-bottom:7px;" ng-if="$root.asGuest">
            <img src="images/FC_Icon_UserProfile_grey.png" class="img-responsive" style="opacity:.5; display: block;max-width: 80px;margin: 0 auto;" alt="User Profile"/>
            <span class="icon-font">User
                <br>Profile</span>
        </div>
        <div class="col-sm-3 col-centered" style="padding-bottom:7px;">
            <a href="#larkorowl"><img src="images/FC_Icon_Chronotype.png" class="img-responsive" alt="Lark Or Owl"/></a>
            <span class="icon-font">Lark or
                <br>Owl?</span>
        </div>
        <div class="col-sm-3 col-centered" style="padding-bottom:7px;">
            <a href="#amisleepy"><img src="images/FC_Icon_Amisleepy.png" class="img-responsive" alt="Am I Sleepy"/></a>
            <span class="icon-font">Am I<br>Sleepy?</span>
        </div>
        <!--
    <div class="col-md-4 col-centered" style="padding-bottom:7px;">
      <a href="#sleepneed"><img src="images/FC_Icon_SleepNeed.png" class="img-responsive" style="max-height:75px;margin:0 auto;" alt="Sleep Need"/></a>
    </div>
    <div class="col-md-4 col-centered" style="padding-bottom:7px;">
      <a href="#sleepdebt"><img src="images/FC_Icon_SleepDebt.png" class="img-responsive" style="max-height:75px;margin:0 auto;" alt="Sleep Debt"/></a>
    </div>
  -->
        <div class="col-sm-3 col-centered" style="padding-bottom:7px;">
            <a href="#checklist"><img src="images/FC_Icon_Checklist.png" class="img-responsive" alt="Checklist Planner"/></a>
            <span class="icon-font">Sleep Checklist</span>
        </div>
        <div class="col-sm-3 col-centered" style="padding-bottom:7px;">
            <a href="#sleepdisorder"><img src="images/FC_Icon_SleepDisorder.png" class="img-responsive" alt="Sleep Disorders"/></a>
            <span class="icon-font">Sleep Problems</span>
        </div>
        <!-- <div class="col-md-4 col-centered" style="padding-bottom:7px;">
      <a href="#gauge"><img src="images/FC_Icon_Guage1.png" class="img-responsive" style="max-height:75px;margin:0 auto;" alt="Sleep Disorders"/></a>
    </div>  -->
        <div class="col-sm-3 col-centered" style="padding-bottom:7px;">
            <a href="#chart"><img src="images/FC_Icon_Guage2.png" class="img-responsive" alt="Checklist Planner"/></a>
            <span class="icon-font">What's My Charge?</span>
        </div>
        <div class="col-sm-3 col-centered" style="padding-bottom:7px;">
            <a href="#howmuchcaffeine"><img src="images/FC_Icon_Caffeine.png" class="img-responsive" alt="How Much Caffeine"/></a>
            <span class="icon-font">How Much <span class="nobr">Caffeine is in...</span></span>
        </div>
        <div class="col-sm-3 col-centered" style="padding-bottom:7px;" ng-if="!$root.asGuest">
            <a href="#login"><img src="images/FC_Logout_Icon.png" class="img-responsive" alt="Logout"/></a>
            <span class="icon-font">Sign
                <br>Out</span>
        </div>
        <div class="col-sm-3 col-centered" style="padding-bottom:7px;" ng-if="$root.asGuest">
            <a href="#login"><img src="images/FC_Login_Icon.png" class="img-responsive" alt="Login"/></a>
            <span class="icon-font">Sign<br>
                In</span>
        </div>
        <div>
            <p class="home-disclaimer">The FAA and the Fully Charged workgroup do not endorse or recommend any commercial products. Brand names or other commercial information provided in this mobile internet application or via hyperlinks found in the
                application shall not be considered a recommendation or endorsement of any commercial brand or product and is only being provided for informational purposes. Nothing in this app may be used for advertising or product endorsement purposes.</p>
        </div>
    </div>
</div>
