<a href="#home"><img src="images/FC_FullyCharged_Logo.png" style="margin-top:-37px;" class="img-responsive center-block" id="homeLogo" alt="Responsive image"></a>
<div>
  <div class="row row-centered home-btns">
    <div class="col-md-4 col-centered" style="padding-bottom:7px;" ng-if="!$root.asGuest">
      <a href="#profile"><img src="images/FC_Icon_UserProfile.png" class="img-responsive" style="max-height:75px;margin:0 auto;" alt="User Profile" /></a>
    </div>
      <div class="col-md-4 col-centered" style="padding-bottom:7px;">
      <a href="#chronotype"><img src="images/FC_Icon_Chronotype.png" class="img-responsive" style="max-height:75px;margin:0 auto;" alt="Chronotype" /></a>
    </div>
    <div class="col-md-4 col-centered" style="padding-bottom:7px;">
      <a href="#sleepneed"><img src="images/FC_Icon_SleepNeed.png" class="img-responsive" style="max-height:75px;margin:0 auto;" alt="Sleep Need"/></a>
    </div>
    <div class="col-md-4 col-centered" style="padding-bottom:7px;">
      <a href="#sleepdebt"><img src="images/FC_Icon_SleepDebt.png" class="img-responsive" style="max-height:75px;margin:0 auto;" alt="Sleep Debt"/></a>
    </div>
    <div class="col-md-4 col-centered" style="padding-bottom:7px;">
      <a href="#checklist"><img src="images/FC_Icon_Checklist.png" class="img-responsive" style="max-height:75px;margin:0 auto;" alt="Checklist Planner"/></a>
    </div>
    <div class="col-md-4 col-centered" style="padding-bottom:7px;">
      <a href="#sleepdisorder"><img src="images/FC_Icon_SleepDisorder.png" class="img-responsive" style="max-height:75px;margin:0 auto;" alt="Sleep Disorders"/></a>
    </div>
    <div class="col-md-4 col-centered" style="padding-bottom:7px;" ng-if="!$root.asGuest">
      <a href="#login"><img src="images/FC_Logout_Icon.png" class="img-responsive" style="max-height:75px;margin:0 auto;" alt="Logout"/></a>
    </div>
    <div class="col-md-4 col-centered" style="padding-bottom:7px;" ng-if="$root.asGuest">
      <a href="#login"><img src="images/FC_Login_Icon.png" class="img-responsive" style="max-height:75px;margin:0 auto;" alt="Login"/></a>
    </div>
  </div>
</div>
