<div ng-include="'views/navbar.html'"></div>
<div class="container">
  <h4 class="row text-center fatigue-header">Making Unusual Movements During Sleep</h4>
  <p>We do not remain completely immobile during sleep. Some amount of movement, changing positions, and muscle twitch is normal.</p>
  <p>When limb (arm, leg) movements are frequent or severe enough, the condition is called periodic limb movement disorder or PLMD. Many people who have PLMD are not aware of it. In some people, PLMD disrupts sleep and causes a sleep debt. In other people, the PLMD is present but not severe enough to actually disrupt sleep.</p>
  <p>Another sleep-related movement disorder is called Restless Legs Syndrome or RLS. RLS is characterized by an oftentimes irresistible urge to move the legs. RLS symptoms are worse at night when the person is trying to rest - so people with RLS often have problems trying to fall asleep. For more information on RLS, go <a href="http://www.ninds.nih.gov/disorders/restless_legs/detail_restless_legs.htm">here</a></p>
  <p>Taking the <a href="#ess" style="color: #A2FF64;">EPWORTH SLEEPINESS SCALE</a> can help you determine whether your snoring or other breathing issues pose a problem. Even if you score "normal" on the ESS, if you feel you have a problem, click the link below:</p>
  <div class="fatigue-header" style="margin-bottom:10px;"><a href="#professionalhelp" style="color:#fff;">When to seek professional help<span class="glyphicon glyphicon-chevron-right"></span></a></div>
  <div class="fatigue-header"><a href="#sleepdisorder" style="color:#fff;"><span class="glyphicon glyphicon-chevron-left"></span>Back to "Sleep Problems"</a></div>
</div>
