<div ng-include="'views/navbar.html'"></div>
<div class="container">
  <h4 class="row text-center fatigue-header">Insomnia</h4>
  <h5>What is Insomnia?</h5>
  <p>Insomnia can be defined as having trouble falling asleep or staying asleep, even when a person has the opportunity to do so, and resulting in some level of daytime impairment.  According to the US National Institutes of Health, approximately 30% of the general population is troubled by sleep disruption.  Since we all need about 8 hours of sleep each day to fully recuperate our physical and mental abilities, insomnia can degrade both the amount and quality of our sleep, and significantly impact our heath, wellbeing and alertness.</p>  
  <p>Insomnia can be secondary, meaning it is the result of other issues in our lives such as stress, pain or other physical maladies.  It can be also be primary, meaning that there is a physiological issue with our sleep system that is preventing us from getting normal sleep.  Acute insomnia usually lasts no more than a few nights, and then we return back to normal sleep patterns.  Chronic insomnia, however, can happen three nights a week or more and last three months or more and be quite debilitating.</p>
  <div class="panel panel-default">
    <h5>Symptoms of Insomnia:</h5>
    <p>People with Insomnia may experience one or more of the following symptoms:</p>
    <ul class="list-group">
      <li class="list-group-item">- Difficulty falling asleep</li>
      <li class="list-group-item">- Difficulty staying asleep (waking up during the night and having trouble returning to sleep)</li>
      <li class="list-group-item">- Waking up too early in the morning</li> 
      <li class="list-group-item">- Unrefreshing sleep (also called "non-restorative sleep")</li>
      <li class="list-group-item">- Fatigue or low energy</li>
      <li class="list-group-item">- Cognitive impairment, such as difficulty concentrating</li>
      <li class="list-group-item">- Mood disturbance, such as irritability</li> 
      <li class="list-group-item">- Behavior problems, such as feeling impulsive or aggression</li>
      <li class="list-group-item">- Difficulty at work or school</li>
      <li class="list-group-item">- Difficulty in personal relationships, including family, friends and caregivers</li>
    </ul>
  </div>
  <h5>Consequences to Health, Wellbeing and Safety</h5>
  <p>The immediate consequence of acute insomnia is a sleep debt from reduce quality and/or quantity of sleep.  A sleep debt causes fatigue, which has been shown to reduce alertness and cognitive performance.  Long term health consequences of chronic insomnia, also associated with long term accumulated sleep debt, include increased risk of diabetes, heart disease and stroke, reduced life expectancy, and depression.</p>
  <p>The effect of insomnia on daytime activity can manifest in many different ways.  You may experience very low energy levels or have difficulty staying alert, especially at times when demands for your mental attention wane.  This can become a safety issue when driving, or when duty requirements focus on monitoring rather than active participation in activities.</p>
  <h5>Diagnosis and Treatment Options</h5>
  <p>Your primary care physician or a sleep specialist may use a variety of methods to diagnose insomnia and develop a treatment regimen that is right for you.  You may be asked to keep a sleep log, which is a simple diary of how much sleep you get each night, how well you slept, how you feel during different parts of the day, etc.  Sleep Questionnaires are detailed surveys you may be asked to complete about all aspects of your sleep patterns and your personal health and medical history.  Blood tests can also help doctors pinpoint whether or not your insomnia is related to thyroid issues.  And your physician may order an overnight sleep study during which a sleep specialist can monitor multiple aspects of your sleep, such as blood oxygen levels, heart rate and breathing patterns, EEG sleep stage readouts, and body movements. </p>
  <p>Treating secondary insomnia requires that your physician and/or sleep specialist identify any underlying medical issue and treat that issue first.  This should help reduce the associated insomnia.  Treating acute insomnia may be accomplished through relaxation techniques and better sleep practices.  Cognitive Behavioral Therapy (CBT) is a combined approach that adds positive thinking about sleep to healthy sleep practices.  CBT has been clinically proven to be highly effective therapy for insomnia sufferers.</p>
  <h5>Seeking Treatment and Additional Information</h5>
  <p>If you think you may be suffering from insomnia and it is affecting your ability to have energy and be alert during your daytime activities, contact your primary care physician and explain your situation.  Be prepared to share thoughts about your sleep patterns, how you feel during the day, and any current medical or other issues you may be experiencing with your doctor.</p>
  <p>For more detailed additional information on Insomnia, refer to the following web resources:</p>
  <ul class="sdlinkul">
    <li><a href="http://sleepfoundation.org/sleep-disorders-problems/insomnia">National Sleep Foundation - Information on Insomnia</a></li>
    <li><a href="http://healthysleep.med.harvard.edu/healthy/getting/treatment/an-overview-of-sleep-disorders">Harvard Sleep Education Program - An Overview of Sleep Disorders:</a></li>
  </ul>
  <a href="#sleepdisorder">Back to "Sleep Disorders"</a>
</div>