<div ng-include="'views/navbar.html'"></div>
<div class="container">

    <h4 class="row text-center header-bg">Lark or Owl?</h4>
    <p>Do you prefer waking up early? Or are you more alert at night? Your preference for the morning or the evening (or somewhere in between) is called your chronotype. People who prefer waking up early and performing activities earlier in the day are
        called "Larks." People who prefer waking up closer to noon and staying up late at night are called "Owls."</p>
    <ul class="custom-bullet glass-bg">
        <li>To get a quick Chronotype score, take a short (2-item) Circadian Energy Scale. This scale takes about 1 minute to complete.</li>
        <h4 class="row text-center">
            <a class="fatigue-header" href="#chronotype">Complete the 2-item Circadian Energy Scale<span class="glyphicon glyphicon-pencil"></span></a>
        </h4>
        <li>To answer more detailed questions about your chronotype, take the longer 19-item Morningness-Eveningness questionnaire. The 19-item questionnaire takes about 5 minutes to complete.</li>
        <h4 class="row text-center">
            <a class="fatigue-header" href="#m-e-questionnaire">Complete the 19-item Morningness-Eveningness Questionnaire<span class="glyphicon glyphicon-pencil"></span></a>
        </h4>
    </ul>


</div>
</div>
