<div class="overlay" ng-if="showSplash">
		<div class="overlay-inner">
				<div class="message">
						<p><img src="images/FC_FullyCharged_Logo.png" class="img-responsive" width="100%"></p>
				</div>
		</div>
</div>
 <div class="container-fluid" style="margin-top: -37px; padding-top: 0px; padding-left: 15px; background-color: inherit!important;">
        <a class="navbar-brand" href="#home"><img src="images/FC_FullyCharged_Logo.png" style="margin-left:-7px; max-height:70px;" alt=""/></a>

    </div>

<div ng-controller="LoginController" style="height:583px;">
    <div class="row" style="margin-top: 54px;padding-right: 10px;padding-left: 10px;">
        <div class="col-md-6" style="margin-bottom:5px; margin-top:15px;"><button type="button" class="btn btn-primary btn-lg btn-block" ng-click="showLogin()">Sign In</button></div>
				<div class="row glass-bg-login"  class="loginForm" ng-show="isShowLogin">
						<form name="loginForm" ng-submit="login()" role="form" id="loginForm" style="margin-left:25px; margin-right:25px;">
								<div class="form-group">
										<label for="username">Username</label>
										<i class="fa fa-key"></i>
										<input type="text" autocorrect="off" autocapitalize="off" name="username" id="username" class="form-control" ng-model="username" required />
										<span ng-show="loginForm.username.$dirty && loginForm.username.$error.required" class="help-block">Username is required</span>
								</div>
								<div class="form-group">
										<label for="password">Password</label>
										<i class= "fa fa-lock"></i>
										<input type="password" autocorrect="off" autocapitalize="off" name="password" id="password" class="form-control" ng-model="password" required />
										<span ng-show="loginForm.password.$dirty && loginForm.password.$error.required" class="help-block">Password is required</span>
								</div>
								<!-- <fieldset class="tasks-list">
										<label class="tasks-list-item">
										<input type="checkbox" name="rememberMe" value="1"  ng-model="rememberMe" ng-checked="rememberMe" class="tasks-list-cb" checked>
										<span class="tasks-list-mark"></span>
										<span class="tasks-list-desc">Remember Me</span>
										</label>
								</fieldset> -->
								<div class="form-actions" style="margin-top:15px;">
										<div ng-show="loginError" class="alert alert-danger">{{loginError}}</div>
										<div ng-show="loginMessage" class="alert alert-info">{{loginMessage}}</div>
										<button type="submit" ng-disabled="loginForm.$invalid || dataLoading" class="btn btn-primary btn-lg btn-block">Login</button>
										<img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
								</div>
						</form>
				</div>
        <div class="col-md-6" style="margin-bottom:5px; margin-top:5px;"><button type="button" class="btn btn-primary btn-lg btn-block" ng-click="showRegister()">New User</button></div>
				<div class="row  glass-bg-login" class="registerForm" ng-show="isShowRegister">
						<div ng-show="error" class="alert alert-danger">{{error}}</div>
						<form name="registerForm" ng-submit="register()" role="form" id="registerForm" style="margin-left:25px; margin-right:25px;">

								<div class="form-group">
										<label for="username">Choose Your Username</label>
										<i class="fa fa-key"></i>
										<input type="text" autocorrect="off" autocapitalize="off" name="username" id="username" class="form-control" ng-model="username" required />
										<span ng-show="registerForm.username.$dirty && registerForm.username.$error.required" class="help-block">Username is required</span>
								</div>
								<div class="form-group">
										<label for="password">Password</label>
										<i class="fa fa-lock"></i>
										<input type="password" autocorrect="off" autocapitalize="off" name="password" id="password" class="form-control" ng-model="password" required />
										<span ng-show="registerForm.password.$dirty && registerForm.password.$error.required" class="help-block">Password is required</span>
								</div>
								<div class="form-group">
										<label for="password2">Confirm Password</label>
										<i class="fa fa-lock"></i>
										<input type="password" autocorrect="off" autocapitalize="off" name="password2" id="password2" class="form-control" ng-model="password2" required />
										<span ng-show="registerForm.password2.$dirty && registerForm.password2.$error.required" class="help-block">Password is required</span>
										<!-- <span style="font-size:13px;margin-top:10px;color:#eeeeee;"><em>Note: Your password cannot be recovered if forgotten.</em></span> -->
								</div>
								<div class="form-group">
										<label for="email">Email (optional)</label>
										<i class="fa fa-lock"></i>
										<input type="email" autocorrect="off" autocapitalize="off" name="email" id="email" class="form-control" ng-model="email" />
								</div>
								<div class="form-actions" style="margin-top:25px;">
										<div ng-show="registerError" class="alert alert-danger">{{registerError}}</div>
										<div ng-show="registerMessage" class="alert alert-info">{{registerMessage}}</div>
										<button type="submit" ng-disabled="registerForm.$invalid || dataLoading || password != password2" class="btn btn-primary btn-lg btn-block">Register</button>
										<img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
								</div>
						</form>
				</div>
  		<div class="col-md-6" id="asGuestDiv" ng-click="loginAsGuest()" style="margin-bottom:5px; margin-top:5px;"><button type="button" class="btn btn-primary btn-lg btn-block" ng-click="showRegister()">Continue as a Guest*</button><div id="as-guest-disclaimer">* Guest Profiles are temporarily saved in your browser's cookies and are not permanent.</div></div>

    </div>



    <div class="row">
        <div id="resetPasswordDiv" style="margin-left:24px; margin-top:10px;"><a href="#resetpassword" style="color:#A2FF64;">Forgot password?</a></div>
    </div>
</div>
<p>&nbsp;</p>
