<div ng-include="'views/navbar.html'"></div>
<div class="container">
    <h4 class="row text-center fatigue-header">Lark or Owl?</h4>
    <p>Do you prefer waking up early? Or are you more alert at night? Your preference for the morning or the evening (or somewhere in between) is called your chronotype. People who prefer waking up early and performing activities earlier in the day are called "Larks." People who prefer waking up closer to noon and staying up late at night are called "Owls."</p>
    <p>Instructions for the MEQ</p>
    <ul style="padding-left:20px;">
        <li>This scale is the original Morningness-Eveningness Questionnaire or MEQ. The MEQ contains 19 items and takes about 5 minutes to complete.
        </li>
        <li>Answer each question without considering how you answered a previous question -- your answer to one question does not have to match your answer to another question. Also, if you already completed the 2-item CIRENS Scale, answer the MEQ without considering how you answered the CIRENS items.</li>
        <li>If none of the available MEQ answers fits you exactly, please pick the answer that is closest.</li>
        <li>In order to calculate your score, you must answer ALL 19 items. However, if you decide that you do not want to complete the MEQ, click at any time to erase your answers and return to the HOME MENU.
        </li>
    </ul>
    <br>
    <ol>
        <li> Considering only your own "feeling best" rhythm, what time would you get up if you were entirely free to plan your day?</li>
        <ul>
            <li>
                <div>
                    <label>5:00AM-6:30AM</label>
                </div>
            </li>
            <li>
                <div>
                    <label>6:30AM-7:45AM</label>
                </div>
            </li>
            <li>
                <div>
                    <label>7:45AM-9:45AM</label>
                </div>
            </li>
            <li>
                <div>
                    <label>9:45AM-11:00AM</label>
                </div>
            </li>
            <li>
                <div>
                    <label>11:00AM-12 noon</label>
                </div>
            </li>
        </ul>
        <li> Considering only your own "feeling best" rhythm, what time would you go to bed if you were entirely free to plan your evening?</li>
        <ul>
            <li>
                <div>
                    <label>8:00PM-9:00PM</label>
                </div>
            </li>
            <li>
                <div>
                    <label>9:00PM-10:15PM</label>
                </div>
            </li>
            <li>
                <div>
                    <label>10:15PM-12:30AM</label>
                </div>
            </li>
            <li>
                <div>
                    <label>12:30AM-1:45AM</label>
                </div>
            </li>
            <li>
                <div>
                    <label>1:45AM-3:00AM</label>
                </div>
            </li>
        </ul>
        <li> If there is a specific time that you have to get up in the morning, how dependent are you on being awakened by an alarm clock?</li>
        <ul>
            <li>
                <div>
                    <label>Not at all dependent</label>
                </div>
            </li>
            <li>
                <div>
                    <label>Slightly dependent</label>
                </div>
            </li>
            <li>
                <div>
                    <label>Fairly dependent</label>
                </div>
            </li>
            <li>
                <div>
                    <label>Very Dependent</label>
                </div>
            </li>
        </ul>
        <li> How easy do you find getting up in the morning?</li>
        <ul>
            <li>
                <div>
                    <label>Not at all easy</label>
                </div>
            </li>
            <li>
                <div>
                    <label>Not very easy</label>
                </div>
            </li>
            <li>
                <div>
                    <label>Fairly easy</label>
                </div>
            </li>
            <li>
                <div>
                    <label>Very easy</label>
                </div>
            </li>
        </ul>
        <li> How alert do you feel during the first half hour after awakening in the mornings?</li>
        <ul>
            <li>
                <div>
                    <label>Not at all alert</label>
                </div>
            </li>
            <li>
                <div>
                    <label>Slightly alert</label>
                </div>
            </li>
            <li>
                <div>
                    <label>Fairly alert</label>
                </div>
            </li>
            <li>
                <div>
                    <label>Very alert</label>
                </div>
            </li>
        </ul>
        <li> How is your appetite during the first half hour after awakening in the mornings?</li>
        <ul>
            <li>
                <div>
                    <label>Very poor</label>
                </div>
            </li>
            <li>
                <div>
                    <label>Fairly poor</label>
                </div>
            </li>
            <li>
                <div>
                    <label>Fairly good</label>
                </div>
            </li>
            <li>
                <div>
                    <label>Very good</label>
                </div>
            </li>
        </ul>
        <li> During the first half hour after awakening in the morning how tired do you feel?</li>
        <ul>
            <li>
                <div>
                    <label>Very tired</label>
                </div>
            </li>
            <li>
                <div>
                    <label>Fairly tired</label>
                </div>
            </li>
            <li>
                <div>
                    <label>Fairly refreshed</label>
                </div>
            </li>
            <li>
                <div>
                    <label>Very refreshed</label>
                </div>
            </li>
        </ul>
        <li> When you had no commitments the next day, what time would you go to bed compared to your usual bedtime?
        </li>
        <ul>
            <li>
                <div>
                    <label>Seldom or never later</label>
                </div>
            </li>
            <li>
                <div>
                    <label>Less than 1 hour later</label>
                </div>
            </li>
            <li>
                <div>
                    <label>1-2 hours later</label>
                </div>
            </li>
            <li>
                <div>
                    <label>More than 2 hours later</label>
                </div>
            </li>
        </ul>
        <li> You have decided to engage in some physical exercise. A friend suggests that you do this for one hour twice
            a week, and the best time for him/her is between 7:00-8:00AM. Bearing in mind nothing else but your own
            "feeling best" rhythm, how do you think you would perform?
        </li>
        <ul>
            <li>
                <div>
                    <label>Would be on good form</label>
                </div>
            </li>
            <li>
                <div>
                    <label>Would be on reasonable form</label>
                </div>
            </li>
            <li>
                <div>
                    <label>Would find it difficult</label>
                </div>
            </li>
            <li>
                <div>
                    <label>Would find it very difficult</label>
                </div>
            </li>
        </ul>
        <li> At what time in the evening do you feel tired and as a result in need of sleep?</li>
        <ul>
            <li>
                <div>
                    <label>8:00PM-9:00PM</label>
                </div>
            </li>
            <li>
                <div>
                    <label>9:00PM-10:15PM</label>
                </div>
            </li>
            <li>
                <div>
                    <label>10:15PM-12:45AM</label>
                </div>
            </li>
            <li>
                <div>
                    <label>12:45AM-2:00AM</label>
                </div>
            </li>
            <li>
                <div>
                    <label>2:00AM-3:00AM</label>
                </div>
            </li>
        </ul>
        <li> You want to be at your peak performance for a test that you know is going to be mentally exhausting and lasting for two hours. You are entirely free to plan your day and considering only your own "feelingbest" rhythm, which ONE of the four testing times would you choose?</li>
        <ul>
            <li>
                <div>
                    <label>8:00AM-10:00AM</label>
                </div>
            </li>
            <li>
                <div>
                    <label>11:00AM-1:00PM</label>
                </div>
            </li>
            <li>
                <div>
                    <label>3:00PM-5:00PM</label>
                </div>
            </li>
            <li>
                <div>
                    <label>7:00PM-9:00PM</label>
                </div>
            </li>
        </ul>
        <li> If you went to bed at 11:00PM, what would your level of tiredness be?</li>
        <ul>
            <li>
                <div>
                    <label>Not at all tired</label>
                </div>
            </li>
            <li>
                <div>
                    <label>A little tired</label>
                </div>
            </li>
            <li>
                <div>
                    <label>Fairly tired</label>
                </div>
            </li>
            <li>
                <div>
                    <label>Very tired</label>
                </div>
            </li>
        </ul>
    </ol>
    <h4 class="row text-center fatigue-header"><a href="#chronotype">Complete the 2-item Circadian Energy Scale</a></h4>
    <br>
    <h4 class="row text-center fatigue-header"><a href="#m-e-questionnaire">Complete the 19-item Morningness-Eveningness
        Questionnaire</a></h4>
</div>
</div>
<p>&nbsp;</p>
