<div ng-include="'views/navbar.html'"></div>
<div class="container">
    <h4 class="row text-center fatigue-header">What's My Charge Input</h4>
    <form name="userForm" novalidate>
    <div class="form-group">
        <uib-accordion close-others="true" template-url="./bower_components/angular-ui-bootstrap/template/accordion/accordion.html">
            <uib-accordion-group ng-init="isOpen = ($index == 0 ? true : false)" is-open="isOpen" id="mycharge_day_{{$index}}" ng-repeat="day in dropdowns" heading="Day {{$index+1}} {{errorDays[$index] == true ? '*Error': ''}}" template-url="./templates/accordion-group-template.html">
                <!--
                <div class="{{errorDays[$index] == true ? 'mycharge_error': 'mycharge_none'}}">
                -->
                    <div ng-repeat="item in day.sleep" class="mycharge-daybg {{d.error ? 'sleep_error' : ''}}">
                        <div class="mycharge-start-header">Start Time ({{$index + 1}}) <button type="button" class="btn btn-danger btn-sm pull-right"  ng-if="$index != 0" ng-click="removeSleep(day.day, $index)">Remove</button></div>
                        <select class="form-control" name="day{{$index+1}}_starttime" ng-options="n as n.txt for n in item.startOptions track by n.val" ng-model="item.selStartTime"></select>
                        <!--
                        Hour: <select class="form-control" name="day{{$index+1}}_starthour" ng-options="n disable when (item.disabledHours.indexOf(n) != -1) for n in item.hours" ng-model="item.selStartHour"></select>
                        Minute: <select class="form-control" name="day{{$index+1}}_startminute" ng-options="n for n in item.minutes" ng-model="item.selStartMinute"></select>
                        -->
                        <div class="mycharge-start-header">Sleep Duration ({{$index + 1}})</div>
                        <select class="form-control" name="day{{$index+1}}_durationtime" ng-options="m as m.txt for m in item.durationOptions track by m.val" ng-model="item.selDurationTime"></select>
                        <!--
                        Hour: <select class="form-control" name="day{{item.id}}_durationhour" ng-options="n for n in item.hours" ng-model="item.selDurationHour"></select>
                        Minute: <select class="form-control" name="day{{item.id}}_durationminute" ng-options="n for n in item.minutes" ng-model="item.selDurationMinute"></select>
                        -->
                        <hr>
                    </div>

                    <div style="text-align:center; margin:auto 0;">
                        <button type="button" class="btn btn-primary btn-med" ng-click="addSleep($index + 1)">Add Sleep</button>
                        &nbsp;
                        <button type="button" class="btn btn-primary btn-med" ng-if="day.caffeine.length == 0" ng-click="addCaffeine($index+1)">Caffeine Input</button>
                    </div>

                    <div class="caffeine_div"  ng-if="day.caffeine.length != 0" style="background-color: #546973;padding:10px;margin-top: 5px;" >
                        <ol class="caffeine-list">
                            <li style="border-bottom:5px solid #304148;" ng-repeat="c in day.caffeine" ng-if="c.caffeineSource">{{c.caffeineSource.name}} | {{c.caffeineSource.value}}mg  x {{c.quantity}}  =  {{c.caffeineSource.value * c.quantity}}mg | at {{c.caffeineTime.txt}}</li>
                        </ol>
                        <div class="caffeine_form"  ng-repeat="c in day.caffeine" style="background-color: #82A0AF;margin-top:10px; margin-bottom:10px;">
                            <div class="mycharge-start-header" style="padding-left:10px; color:#fff;">Caffeine Event {{$index+1}} <button type="button" class="btn btn-danger btn-sm pull-right glyphicon glyphicon-remove-sign"  ng-click="removeCaffeine(day.day, $index)"></button></div>
                            <div style="padding:10px;">
                                Caffeine Source: <select class="form-control" name="day{{$index+1}}_caffeinetype" ng-options="type as type.name for type in caffeineItems track by type.id" ng-model="c.caffeineSource"></select>
                                Quantity: <select class="form-control" name="day{{$index+1}}_caffeinequantity" ng-options="k for k in caffeineQuantity" ng-model="c.quantity"></select>
                                Time: <select class="form-control" name="day{{$index+1}}_caffeinetime" ng-options="m as m.txt for m in c.caffeineTimeOptions track by m.val" ng-model="c.caffeineTime"></select>
                                <!--
                                Hour: <select class="form-control" name="day{{item.id}}_caffeinehour" ng-options="n for n in hoursRange" ng-model="c.hour"></select>
                                Minute: <select class="form-control" name="day{{item.id}}_caffeineminute" ng-options="n for n in minutesRange" ng-model="c.minute"></select>
                               -->
                            </div>
                        </div>
                        <!--
                        <button type="button" class="btn btn-info btn-sm" ng-click="saveCaffeine($index+1)">Save</button>
                        &nbsp;
                        -->
                        <button type="button" class="btn btn-primary btn-xs glyphicon glyphicon-plus-sign" ng-click="addCaffeine($index+1)"></button>
                    </div>
                <!--
                </div>
                -->
            </uib-accordion-group>
        </uib-accordion>
        <button type="button" class="btn btn-primary" ng-click="addDay()">Add Day</button>&nbsp;
        <button type="button" class="btn btn-primary" ng-click="save()">Submit</button>
    </div>
    </form>
 </div>
