<div class="row mycharge-input" style="position: fixed; top: 80px; z-index: 1001;">
    <div class="row sleep-btns">
        <button type="button" class="btn btn-mycharge btn-sm col-md-2" ng-click="addSleep()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Sleep</button>
        <button type="button" class="btn btn-mycharge btn-sm col-md-2" ng-click="addCaffeine()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Caffeine</button>
        <button type="button" class="btn btn-mycharge btn-sm col-md-2" ng-click="addDay()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Day</button>
        <button type="button" class="btn btn-mycharge btn-sm col-md-2 mycharge-last" style="color:#F2ED8F;" ng-click="save()">Submit</button>
        <div class="col-md-4 input-msg" ng-if="message">{{message}}</div>
    </div>
</div>
<div ng-include="'views/navbar.html'"></div>
<div class="container" style="margin-top:60px;">
    <h4 class="row text-center fatigue-header">What's My Charge Input</h4>
    <div id="mycharge_list" style="position: relative; top: 10px;">
        <div class="mycharge-sleep-div row" ng-repeat="(idx, day) in sleeps">
            <h4 class="mycharge-panel-title" id="day_title_{{idx}}">Day
                {{idx + 1}}
                <div class="glyphicon glyphicon-remove pull-right" ng-click="removeDay(idx)"></div>
            </h4>
            <div class="col-md-6 sleep-background">
                <div class="mycharge-sleep-line" ng-repeat="(dIdx, s) in day">
                    <div class="mycharge-sleep-text">
                        <span style="color:#F2ED8F;">Sleep:</span>
                        Start:
                        {{formatTwoDigits(s.startHour)}}:{{formatTwoDigits(s.startMinute)}}
                        - Duration:
                        {{formatTwoDigits(s.durationHour)}}:{{formatTwoDigits(s.durationMinute)}}
                        <div class="glyphicon glyphicon-trash" ng-click="removeSleep(idx, dIdx)"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 caffeine-background">
                <div class="mycharge-caffeine-line" ng-repeat="(cIdx, coffee) in caffeine[idx]"><hr style="margin-top:5px; margin-bottom:5px;" ng-if="cIdx == 0"/>
                    <div class="mycharge-caffeine-text">
                        <span style="color:#F2ED8F;">Caffeine:</span>
                        {{coffee.source}}
                        ({{coffee.amount}})mg x
                        {{coffee.quantity}}
                        =
                        {{coffee.amount * coffee.quantity}}(mg) @
                        {{formatTwoDigits(coffee.hour)}}:{{formatTwoDigits(coffee.minute)}}
                        <div class="glyphicon glyphicon-trash" ng-click="removeCaffeine(idx, cIdx)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="sleepModal.html">
        <form name="sleepForm" ng-submit="ok()" novalidate>
            <div class="modal-header">
                <h3 class="modal-title">Add Sleep Time</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Day:</label>
                    <select class="form-control" name="currentDay" ng-options="d as d.txt for d in dayDropdowns track by d.val" ng-model="currentDay" required></select>
                    <p ng-show="sleepForm.currentDay.$invalid && !sleepForm.currentDay.$pristine" class="help-block">You name is required.</p>
                </div>
                <div class="mycharge-start-header">Start Time</div>
                <div class="form-group">
                    <label>Hour:</label>
                    <select class="form-control" ng-options="n as n.txt for n in dropdowns.startHours track by n.val" ng-model="dropdowns.selStartHour" required></select>
                </div>
                <div class="form-group">
                    <label>Minute:</label>
                    <select class="form-control" ng-options="m as m.txt for m in dropdowns.startMins track by m.val" ng-model="dropdowns.selStartMin"></select>
                </div>
                <div class="mycharge-start-header">Sleep Duration</div>
                <div class="form-group">
                    <label>Hour:</label>
                    <select class="form-control" ng-options="i as i.txt for i in dropdowns.durationHours track by i.val" ng-model="dropdowns.selDurationHour"></select>
                </div>
                <div class="form-group">
                    <label>Minute:</label>
                    <select class="form-control" ng-options="k as k.txt for k in dropdowns.durationMins track by k.val" ng-model="dropdowns.selDurationMin"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" ng-disabled="sleepForm.$invalid">Add</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </form>

    </script>

    <!-- caffeine modal -->
    <script type="text/ng-template" id="caffeineModal.html">
        <form name="caffeineForm" ng-submit="ok()" novalidate>
            <div class="modal-header">
                <h3 class="modal-title">Add Caffeine</h3>
            </div>
            <div class="modal-body">
                <div class="mycharge-day-input">
                    <div class="form-group">
                        <label>Day:</label>
                        <select class="form-control" name="currentDay" ng-options="d as d.txt for d in dayDropdowns track by d.val" ng-model="currentDay" required></select>
                    </div>
                    <div class="form-group">
                        <label>Caffeine Source:</label>
                        <select class="form-control" ng-options="type as type.name for type in dropdowns.caffeineItems track by type.id" ng-model="c.caffeineSource"></select>
                    </div>
                    <div class="form-group">
                        <label>Quantity:</label>
                        <select class="form-control" ng-options="k for k in dropdowns.quantity" ng-model="c.quantity"></select>
                    </div>
                    <div class="form-group">
                        <label>Hour:</label>
                        <select class="form-control" ng-options="hour as hour.txt for hour in dropdowns.startHours track by hour.val" ng-model="c.hour"></select>
                    </div>
                    <div class="form-group">
                        <label>Minute:</label>
                        <select class="form-control" ng-options="min as min.txt for min in dropdowns.startMins track by min.val" ng-model="c.minute"></select>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" ng-disabled="formDisabled">Add</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </form>

    </script>
    <!-- end of caffeine modal -->
</div>
