<div ng-include="'views/navbar.html'"></div>
<div class="container">
  <h4 class="row text-center fatigue-header">Periodic Limb Movement (PLM) Disorder</h4>
  <h5>What is PLM?</h5>
  <p>Periodic Limb Movement causes repetitive movement of limbs during sleep.  These movements may occur as frequently as every 20 to 40 seconds, and may take the form of twitching or jerking movements or upward flexing of the feet.  Movements often cluster into episodes that can last anywhere from several minutes to several hours.</p>
  <div class="panel panel-default">
    <h5>Symptoms of PLM:</h5>
    <p>People with PLM may experience one or more of the following symptoms:</p>
    <ul class="list-group">
      <li class="list-group-item">- Uncomfortable feelings in the calves or thighs</li>
      <li class="list-group-item">- Involuntary jerking or kicking movements of the legs or arms</li>
      <li class="list-group-item">- Repeated brief awakenings during sleep</li> 
      <li class="list-group-item">- Excessive daytime sleepiness</li>
    </ul>   
  </div>
  <h5>Consequences to Health, Wellbeing and Safety</h5>
  <p>The immediate consequence of PLM is a sleep debt from reduced quality and/or quantity of sleep.  A sleep debt causes fatigue, which has been shown to reduce alertness and cognitive performance.  Long term health consequences of PLM are related to long-term accumulated sleep debt.</p>
  <p>The effect of PLM on daytime activity can manifest in many different ways.  You may experience very low energy levels or have difficulty staying alert, especially at times when demands for your mental attention wane.  This can become a safety issue when driving, or when duty requirements focus on monitoring rather than active participation in activities. </p>
  <h5>Diagnosis and Treatment Options</h5>
  <p>Formal diagnosis of PLM can be accomplished through an overnight sleep study where a sleep specialist can monitor you for involuntary body movements and arousals during sleep.</p>
  <p>Treatment options include medications that have been proven effective in treating other movement disorders, or in some cases sleeping pills may be used to prevent arousals during nocturnal limb movements.</p>
  <h5>Seeking Treatment and Additional Information</h5>
  <p>If you think you may be suffering from PLM and it is affecting your ability to have energy and be alert during your daytime activities, contact your primary care physician and explain your situation.  Be prepared to share thoughts about your sleep patterns, how you feel during the day, and any current medical or other issues you may be experiencing with your doctor.  If you have completed any self-screening be prepared to share those results as well. </p>
  <p>For more detailed additional information on PLM, refer to the following web resources:</p>
  <ul class="sdlinkul">
    <li><a href="http://sleepfoundation.org/sleep-disorders-problems/sleep-related-movement-disorders/periodic-limb-movement-disorder">National Sleep Foundation - Information on PLM</a></li>
    <li><a href="http://healthysleep.med.harvard.edu/healthy/getting/treatment/an-overview-of-sleep-disorders">Harvard Sleep Education Program - An Overview of Sleep Disorders</a></li>
  </ul>
  <a href="#sleepdisorder">Back to "Sleep Disorders"</a>
</div>