<div ng-include="'views/navbar.html'"></div>
<div class="container">
  <h4 class="row text-center fatigue-header">When to Seek Professional Help for a Sleep Problem</h4>
  <p>Any of the following in an adult warrants a call to your healthcare provider:</p>
  <ul class="custom-bullet glass-bg">
  <li>Not being able to fall asleep or stay asleep at night more than 3 times per week</li>
  <li>Not being able to fall asleep or stay asleep at night after about 2 weeks of applying the Healthy Sleep Checklist</li>
  <li>Sleeping at least 7 hours per night but still having difficulty staying awake</li>
  <li>Sleeping more than 10 hours per night on a regular basis (pertains only to adults - most children and some adolescents need at least 10 hours per night)</li>
  <li>Not feeling refreshed after sleep</li>
  <li>An urge to move your limbs that causes you difficulty falling asleep or staying asleep</li>
  <li>Bed partner or other tells you that you gasp or stop breathing during your sleep</li>
  </ul>
  <div class="glass-bg"><a href="#sleepdisorder" style="color:#6EFF6D;"><span class="glyphicon glyphicon-chevron-left"></span>Back to "Sleep Problems"</a></div>
</div>
