 <div class="container-fluid" style="margin-top: -37px; padding-top: 0px; padding-left: 15px; background-color: inherit!important;">
        <a class="navbar-brand" href="#home"><img src="images/FC_FullyCharged_Logo.png" style="margin-left:-7px; max-height:70px;" alt=""/></a>

    </div>
</nav>

<div class="container" ng-controller="ResetPasswordController" style="margin-top:25px;">
    <div class="row" class="resetPasswordForm">
        <form name="resetPasswordForm" ng-submit="resetPassword()" role="form" id="resetPasswordForm" style="margin-left:15px; margin-right:15px;">
            <div class="form-group">
                <label for="email">Email</label>
                <i class="fa fa-lock"></i>
                <input type="email" autocorrect="off" autocapitalize="off" name="email" id="email" class="form-control" ng-model="email" />
            </div>
            <div class="form-actions" style="margin-top:15px;">
                <div ng-show="emailError" class="alert alert-danger">{{emailError}}</div>
                <div ng-show="emailMessage" class="alert alert-info">{{emailMessage}}</div>
                <button type="submit" ng-disabled="resetPasswordForm.$invalid || email == ''" class="btn btn-primary btn-lg btn-block">Submit</button>
            </div>
        </form>
    </div>
</div>
