<div ng-include="'views/navbar.html'"></div>
<div class="container">
  <h4 class="row text-center header-bg">Restless Leg Syndrome (RLS)</h4>
  <h5>What is RLS?</h5>
  <p>Restless Leg Syndrome is an uncomfortable feeling that causes an uncontrollable urge to move the legs when they are at rest or during sleep.  These urges to move are temporarily relieved by leg movements and typically occur in the evening and nighttime hours.  RLS sensations in the legs, and less commonly in the arms, torso and facial region, can profoundly disrupt sleep patterns and cause arousals during the night, resulting in lower quality and quantity of sleep.</p>
  <div class="panel panel-default">
    <h5>Symptoms of RLS:</h5>
    <p>People with RLS may experience one or more of the following symptoms:</p>
    <ul class="list-group">
      <li class="list-group-item">- Overwhelming urge to move legs when they are at rest</li>
      <li class="list-group-item">- Urge to move legs accompanied by unpleasant sensations (creeping, itching, pulling of tugging sensations)</li>
      <li class="list-group-item">- Impossible to resist urges to move legs</li>
      <li class="list-group-item">- Moving legs relieves urges and unpleasant sensations</li>
      <li class="list-group-item">- Bed partner kept awake due to jerking leg movements</li>
      <li class="list-group-item">- Involuntary leg movements during waking hours</li>
      <li class="list-group-item">- Excessive daytime sleepiness</li>
    </ul>
  </div>
  <h5>Consequences to Health, Wellbeing and Safety</h5>
  <p>The immediate consequence of RLS is a sleep debt from reduced quality and/or quantity of sleep.  A sleep debt causes fatigue, which has been shown to reduce alertness and cognitive performance.  Long term health consequences of RLS are related to long-term accumulated sleep debt.   </p>
  <p>The effect of RLS on daytime activity can manifest in many different ways.  You may experience very low energy levels or have difficulty staying alert, especially at times when demands for your mental attention wane.  This can become a safety issue when driving, or when duty requirements focus on monitoring rather than active participation in activities.</p>
  <h5>Diagnosis and Treatment Options</h5>
  <p>There is no specific diagnostic test for RLS.  If you are experiencing any of the symptoms of RLS, keeping a sleep diary documenting your experiences and providing the information to your primary care physician or sleep specialist will help them make a formal diagnosis.  In some cases, formal diagnosis of RLS may be accomplished through an overnight sleep study where a sleep specialist can monitor you for involuntary body movements and arousals during sleep. </p>
  <p>Because people experience RLS differently, treatment options vary and are specific to the individual.  Living with RLS means treating the urge to move legs, and thus reducing the resulting arousals during sleep. Some treatments may include screening and treatment for iron and/or vitamin deficiencies.  An evaluation of any current medication that can make the symptoms of RLS worse, such as drugs for high blood pressure, colds and allergies, will be completed.  Also, the diagnosis and treatment of varicose veins has been shown to effectively relieve the symptoms of RLS.  In some cases medications may be required to reduce the symptoms of RLS.</p>
  <h5>Seeking Treatment and Additional Information</h5>
  <p>If you think you may be suffering from RLS and it is affecting your ability to have energy and be alert during your daytime activities, contact your primary care physician and explain your situation.  Be prepared to share thoughts about your sleep patterns, how you feel during the day, and any current medical or other issues you may be experiencing with your doctor.  If you have been tracking your symptoms in a sleep diary, be sure to also share those results with your healthcare professional as well. </p>
  <p>For more detailed additional information on RLS, refer to the following web resources:</p>
  <ul class="sdlinkul">
    <li><a href="http://sleepfoundation.org/sleep-disorders-problems/restless-legs-syndrome">National Sleep Foundation - Information on RLS</a></li>
    <li><a href="http://www.ninds.nih.gov/disorders/restless_legs/detail_restless_legs.htm">National Institute of Neurological Disorders and Stroke - Restless Leg Syndrome Fact Sheet</a></li>
  </ul>
  <a href="#sleepdisorder">Back to "Sleep Disorders"</a>
</div>
