<div ng-include="'views/navbar.html'"></div>
<div class="container">
    <h4 class="row text-center fatigue-header">Common Sleep Problems</h4>
    <!-- <img class="header-image" style="margin-top:-45px;" src="images/disorder@2x.png" alt="Sleep Debt"> -->
    <div class="col-md-12">
        <p style="margin-top:24px;">At some point, nearly everyone experiences some kind of sleep problem: falling asleep, staying asleep, too little sleep, feeling sleepy upon awakening even though we spent 8-9 hours in bed... even sleeping too much. Below are descriptions of commonly experienced sleep problems and what you can do about them.</p>
    </div>
    <div class="col-md-4">
      <h5>Problems Falling Asleep or Staying Asleep</h5>
      <p>Many of us occasionally experience difficulty falling asleep (taking more than about 20 minutes to fall asleep) when we go to bed at night...<br> <a href="#plm" class="no-wrap">Learn More</a></p>
    </div>
    <div class="col-md-4">
      <h5>Snoring and Breathing Problems During Sleep</h5>
      <p>Snoring noises are caused by partial blockages to airflow in your throat or nose. Snoring sometimes bothers those around you more than it bothers you....<br> <a href="#apnea" class="no-wrap">Learn More</a></p>
    </div>
    <div class="col-md-4">
      <h5>Making Unusual Movements during Sleep</h5>
      <p>We do not remain completely immobile during sleep. Some amount of movement, changing positions, and muscle twitch is normal...<br> <a href="#insomnia" class="no-wrap">Learn More</a></p>
    </div>
    <p>&nbsp;</p>
</div>
